.signup-container {
    max-width: 400px;
    margin: 155px auto;
    color: #fff;
    text-align: center;
  }
  
  .signup-container h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  .signup-container p {
    color: #ccc;
    margin-bottom: 25px;
    font-size: 14px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signup-form input,
  .signup-form select,textarea {
    background-color: transparent;
    border: 1px solid #999;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
  }
  
  .signup-form input:focus,
  .signup-form select:focus,
  .signup-form textarea:focus {
    border-color: #f5c012;
    outline: none;
  }
  
  .dob {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  
  .dob select {
    flex: 1;
    color: #f5c012;
  }
  .signup-form button {
    background-color: #5e1c1c;
    color: #fff;
    padding: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
  }
  
  .signup-form button:hover {
    background-color: #741f1f;
  }
  
  .login-link {
    font-size: 13px;
    color: #ccc;
  }
  
  .login-link a {
    color: #f5c012;
    text-decoration: none;
  }
  
  @media (max-width: 600px) {
    .signup-container {
      width: 90%;
      margin: 100px auto;
    }
  
    .signup-container h2 {
      font-size: 20px;
    }
  
    .signup-container p {
      font-size: 12px;
    }
  
    .signup-form input,
    .signup-form select,textarea {
      font-size: 12px;
    }
  
    .signup-form button {
      font-size: 14px;
    }
    
    
  }

  