body {
    background-color: #0f0f0f;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
.site-footer {
background: url('{{ asset("images/footer.jpg") }}') no-repeat center center;
background-size: cover;
margin-top: 60px;
color: #eee;
font-size: 14px;
}
.navbar a.active {
color: #f5c012;
font-weight: bold;
border-bottom: 2px solid #f5c012;
}


.Payment {
    max-width: 1000px;
    margin: 140px auto 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left, .right {
    width: 48%;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 15px;
}

p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

label {
    font-size: 13px;
    margin-bottom: 6px;
    display: block;
    color: #e0e0e0;
}

.left input[type="text"],
.left input[type="email"] {
    width: 85%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #444;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
}

input::placeholder {
    color: #aaa;
}

.card-field {
    margin-bottom: 15px;
    width: 85%;
}

.card-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 90%;
}

#card-number, #card-exp, #card-cvc {
    padding: 12px;
    background-color: transparent;
    border: 1px solid #444;
    font-size: 14px;
    color: #fff;
    height: 20px;
    
}

.StripeElement {
    background-color: transparent;
    color: #fff;
}

#card-errors {
    color: #ff5252;
    font-size: 12px;
    margin-bottom: 12px;
}

button {
    width: 90%;
    padding: 14px;
    background-color: #541c1c;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a2424;
}

.note1 {
    font-size: 12px;
    color: #aaa;
    line-height: 1.5;
    margin-top: 20px;
}

.note1 a {
    color: #fff;
    text-decoration: underline;
}

.right-info {
    font-size: 14px;
    line-height: 2;
}

.right-info a {
    text-decoration: none;
    color: #f5c012;
}

.right-info span.label {
    color: #aaa;
    display: inline-block;
    width: 130px;
}

.note2 {
    font-size: 12px;
    color: #aaa;
    margin-top: 20px;
    padding: 12px;
    border: 1px solid #444;
    background-color: #141414;
    border-radius: 6px;
}

.alert {
    margin-top: 20px;
    padding: 12px;
    background-color: #ff5252;
    color: white;
    font-size: 14px;
    border-radius: 6px;
}
@media screen and (max-width: 1024px) {
.Payment {
    flex-direction: column;
    padding: 55px;
}

.left, 
.right {
    width: 100%;
    margin-bottom: 20px;
}

.right {
    order: -1; 
}

.card-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
}

@media screen and (max-width: 768px) {
.Payment {
    flex-direction: column;
}

.left, 
.right {
    width: 100%;
}

.right {
    order: -1;
    margin-bottom: 20px;
}

.card-info {
    flex-direction: column;
}

button {
    width: 90%;
}
}

@media screen and (max-width: 450px) {
.Payment {
    flex-direction: column;
}

.left, 
.right {
    width: 100%;
    margin-bottom: 15px;
}

.right {
    order: -1;
}

.card-info {
    flex-direction: column;
    gap: 8px;
}

button {
    width: 100%;
    font-size: 14px;
}

}